@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --color-primary-100: #ef2424;
  --color-primary-200: #00000099;
  --color-secondary-100: #00a389;
}
